
                    
@model IEnumerable<Bills>
<table class="table table-bordered table-striped table-responsive-md" id="myprodtbl" style="width:100%;">
        <thead>
            <tr>
                <td>Account No</td>
                <td>Customer Name</td>
                <td>Customer No</td>
                <td>Amount</td>
                <td>Month</td>
                <td>Year</td>
                <td>Invoice No</td>
                <td>Activity</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Accnt_no</td>
                <td>@item.Cust_name</td>
                <td>@item.Cust_no</td>
                <td>@item.Amnt</td>
                <td>@item.Month</td>
                <td>@item.Year</td>
                <td>@item.Invoice_no</td>
                <td>@item.Activity</td>
                    <td>

                     <a data-target="#details" 
                           data-toggle="modal"  
                           data-amnt_paid="@item.Amnt_paid" 
                           data-amnt="@item.Amnt" 
                           data-accnt_no="@item.Accnt_no" 
                           data-cust_no="@item.Cust_no" 
                           data-year="@item.Year" 
                           data-month="@item.Month" 
                           data-invoice_no="@item.Invoice_no" 
                            data-cust_name="@item.Cust_name"
                            data-activity="@item.Activity"
                           class="opendetails"><i class="fa fa-cog"></i> Select</a>
               
               </td>
            </tr>
            }
        </tbody>
    </table>

<form id="frmQuey" method="post" asp-action="BillConfirm">
    <input id="tax_step" type="hidden" value="0" />
    <input id="twende" type="hidden" value="1" />
</form>





