@model ApprovalParamsModel
@{
    ViewData["Title"] = "Manage Approval Item";
}

<h2 class="header-title">Manage Approval Item</h2>
<div class="row">
    <div class="col-md-7">
        <div class="card-box">
            <div class="text-muted">Approval item details:</div>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    Details:
                </div>
                <div class="col-md-9">
                    <strong>@Model.Descr</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Old Value:
                </div>
                <div class="col-md-9">
                    <strong>@Model.OldItemValue</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    New Value:
                </div>
                <div class="col-md-9">
                    <strong>@Model.NewItemValue</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Maker:
                </div>
                <div class="col-md-9">
                    <strong>@Model.Maker</strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    Created On:
                </div>
                <div class="col-md-9">
                    <strong>@Model.Date</strong>
                </div>
            </div>
            <hr />
            <small>You can Approve or Reject this item on the right panel. If you reject you MUST enter a reason.</small>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Manage Actions:</strong></div>
            <div class="panel-body">
                <form asp-action="superviseparams">
                    <input type="hidden" name="Code" value="@Model.idxno" />
                    <input type="hidden" name="Reason" value="" />
                    <input type="hidden" name="MyAction" value="1" />
                    <button type="submit" class="btn btn-success btn-lg rbutton"><i class="fa fa-check"></i> Approve</button>
                </form>
                <hr />
                <form asp-action="superviseparams">
                    <input type="hidden" name="Code" value="@Model.idxno" />
                    <input type="hidden" name="MyAction" value="2" />
                    <textarea name="Reason" class="form-control" placeholder="Enter the reject reason......"></textarea>
                    <button type="submit" class="btn btn-danger m-t-10"><i class="fa fa-close"></i> Reject</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.rbutton').on('click', function () {
        $(this).prop("disabled", true);
    });
</script>