@model FinishModel
@{
    ViewData["Title"] = "Approval Status";
}

<h2 class="header-title">Approval Status</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card-box">
            @if (Model.Status == 1)
            {
                <div class="alert alert-warning text-center">
                    <i class="fa fa-times fa-5x"></i><br />
                    <h2 class="text-warning">@Model.Title</h2>
                    <strong class="text-danger">@Model.Message</strong>
                </div>
            }
            else if (Model.Status == 2)
            {
                <div class="alert alert-success text-center">
                    <i class="fa fa-check fa-5x"></i><br />
                    <h2 class="text-success">@Model.Title</h2>
                    <strong></strong>
                </div>

            }
            else
            {
                <div class="alert alert-success text-center">
                    <i class="fa fa-check fa-5x"></i><br />
                    <h2 class="text-success">@Model.Title</h2>
                    <strong>@Model.Message</strong>
                </div>
                <div class="text-center text-muted">
                    <span>Click on the button below to view transaction receipt</span><br />
                    <a target="_blank" asp-action="tokenreceipt" asp-controller="report" asp-route-code="@Model.Code" class="btn btn-default btn-sm m-t-5"><i class="fa fa-print"> Print Receipt</i></a>
                </div>
            }

        </div>        
    </div>
</div>

